body {
	margin-top: 50px;
	background: url('../porfolio/images/subtle_dots.png');
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 20px 0;
}

.logo{
    height: 230px;
    width: 179px;
    margin-bottom: 30px;
    background: url('../porfolio/images/logo.png');
    background-repeat: no-repeat;
}

#gallery {
	margin-top: 40px;
}

.gallery-item {
	background: url('../porfolio/images/irongrip.png');
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 3px 3px 3px 3px;
	height: 300px;
	opacity: 1;

}

.gallery-item:hover{
	opacity: 0.4;
}

.gallery-item a:link, a:visited, a:hover, a:focus, a:active  {
	text-decoration: none;
}


.gallery-item p{
	color: white;
	font-size: 26px;
	padding-top: 45%;
	text-align: center;
}

.footer {
	color: rgb(100,100,100);
	text-align: center;
}

.gallery-item.dopey {
	height: 213px;
	background: url('../porfolio/images/dopey.png');
	background-repeat: no-repeat;
}

.blank {
	background: none;
}

.blank:hover {
	opacity: 1;
}

.icons {
	height: 130px;
	box-shadow: 1px 1px 2px #D5D5D5;
}

.icons img {
	vertical-align: middle;
	padding-top: 15px;
}