body {
	margin-top: 40px;
	background: url('/images/subtle_dots.png');
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 20px 0;
}

.logo{
	border: 8px thin black;
    border-radius: 50% 50% 50% 50%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 200px;
    background: #ddd;
    margin-bottom: 30px;
}

#gallery {
	margin-top: 50px;
}

.gallery-item {
	margin-top: 10px;
	margin-bottom: 10px;
	background: #ddd;
	border-radius: 3px 3px 3px 3px;
	height: 300px;
	cursor: pointer;
	opacity: 0.4;
}

.gallery-item:hover{
	opacity: 1;
	/*border: 1px solid black;*/
}

.gallery-item p{
	font-size: 26px;
	margin-right: 30px;
	margin-top: 30px;
}

.footer {
	color: rgb(100,100,100);
	text-align: center;
}